<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Team 07 &ndash; Visual IDE</a>
        </div>
        <div class="nav navbar-nav navbar-left">
            <button id="new-project-btn" class="btn btn-default navbar-button btn-sm"><i class="fa fa-file" title="New Project"></i> New</button>
            <button class="btn btn-default navbar-button btn-sm" {{bind-attr disabled=isNotLoggedIn}} {{action 'saveProject'}}><i class="fa fa-save" title="Save Project..."></i> Save</button>
            <button id="load-project-btn" class="btn btn-default navbar-button btn-sm" {{bind-attr disabled=isNotLoggedIn}}><i class="fa fa-folder-open" title="Load Project..."></i> Load</button>
        </div>
        <div class="nav navbar-nav navbar-right">
            {{#unless isLoggedIn}}
                <button type="button" id="googleLogin" class="btn btn-info navbar-button btn-sm" {{action 'login'}}>Login with Google</button>
            {{else}}
                <button type="button" id="googleLogin" class="btn btn-warning navbar-button btn-sm" {{action 'logout'}}>Logout ({{loggedInUser.name}})</button>
            {{/unless}}
        </div>
    </div>
</nav>